body {
    background-color: rgb(255, 172, 172);
    font-family: Arial;
}
.grid-container {
  width: 462px;
}

.grid-column {
    float: left;
}

.grid-item {
    border: 1px solid black;
}

#grid-size {
    border-radius: 7px;
}

#clear {
    border-radius: 7px;
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 4px;
    border: 1px solid black;
}

#clear:hover {
    border: 1px solid white;
}

input[type='range'] {
    -webkit-appearance: none;
    border: 3px solid black;
    align-items: center;
   
}


#red {
    background-color: rgb(194, 40, 40);
}

#red:hover{
    background-color: rgb(206, 86, 86);
}

#green {
    background-color: rgb(36, 192, 36);
}

#green:hover {
    background-color: rgb(79, 197, 79);
}

#blue {
    background-color: rgb(42, 42, 196);
}

#blue:hover{
    background-color: rgb(86, 86, 202);
}

.slider-control {
    position: relative;
    float: right;
    margin: 20px;
}

#heading {
    font-family: cursive;
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    
}



#row-1 {
    
    width: 462px;
    height: 462px;
    position: relative;
    border-radius: 5%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    background-color: rgb(255, 74, 74);

}


#row-2 {
    display: block;
    width: 484px;
    height: 130px;
    position: relative;
    border-radius: 20px;
    background-color: rgb(255, 74, 74);
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
}



#grid-size {
    margin: 5px;
}

#clear {
    margin: 5px;
}

#pen {
    margin: 5px;
}

#r {
    color: rgb(255, 125, 125);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#g {
    color: rgb(82, 194, 82);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#b {
    color: rgb(129, 129, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}